*{
    box-sizing: border-box;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    font-size: clamp(0.75rem, 1vw, 1rem);
}

h1{
    font-size: clamp(0.9rem, 1.2vw, 1.2rem);
    margin-bottom: 0;
    font-weight: 500;
}

p{
    font-size: 0.7rem;
    line-height: 1rem;
}

footer p{
    background-color: hsl(214, 17%, 92%);
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
}

.container{
    min-height: 100vh;
    display: grid;
    background-color: hsl(214, 17%, 92%);
    grid-template-columns: 12.5rem 12.5rem 12.5rem 12.5rem;
    grid-template-rows: 15.6rem 15.6rem;
    gap: 1.8rem;
    place-content: center;
}

.item{
    font-family: "Barlow Semi Condensed", sans-serif;
    padding: 1rem;
    border-radius: 0.3rem;
    box-shadow: 1.25rem 1.25rem 1.25rem hsl(0, 0%, 81%);
    position: relative;
    z-index: 1;
}

.photo{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.verified{
    margin-top: 0;
    font-size: 0.6rem;
    font-weight: 100;
}

.citation{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.3rem;
    margin-bottom: 1.5rem;
}

.photo1, .photo2{
    border: 0.1rem solid hsl(264, 82%, 80%);
}

.photo img{  
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    object-fit: cover; 
}

.photo h1 {
    font-size: 0.85rem;
    margin: 0;
}

.footer a { 
    color: hsl(228, 45%, 44%); 
}

.photo .verified {
    font-size: 0.7rem;
    margin: 0;
    opacity: 0.8;
}

.item:nth-child(1){
    color: hsl(0, 0%, 100%);
    background-color: hsl(263, 55%, 52%);
    grid-column: 1 / span 2;
}

.item:nth-child(2){
    color: hsl(0, 0%, 100%);
    background-color: hsl(217, 19%, 35%);
    grid-column: 3;
}

.item:nth-child(3){
    color: hsl(224, 10%, 45%);
    background-color: hsl(0, 0%, 100%);
    grid-column: 4;
    grid-row: 1 / 3;
}

.item:nth-child(4){
    color: hsl(224, 10%, 45%);
    background-color: hsl(0, 0%, 100%);
    grid-column: 1;
}

.item:nth-child(5){
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 7%);
    grid-column: 2 / span 2;
}

.item:nth-child(1) p{
    position: relative; /* active le z-index */
    z-index: 1; /* passe devant l'image */
}

.item:nth-child(1) .quotation {
    position: absolute;
    top: 0.3rem;       
    right: 3.5rem;     
    width: 5rem;     
    opacity: 0.8;    
    z-index: 0;
    color: hsl(264, 82%, 80%);
}


@media only screen and (max-width: 48rem){
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1.5rem;
    padding: 2rem;
  }

.item {
    grid-column: auto !important;
    overflow: hidden;
  }

.item:nth-child(1) { grid-row: 1; } /* Daniel Clifford */
.item:nth-child(2) { grid-row: 2; } /* Jonathan Walters */
.item:nth-child(4) { grid-row: 3; } /* Jeanette Harmon */
.item:nth-child(5) { grid-row: 4; } /* Patrick Abrams */
.item:nth-child(3) { grid-row: 5; } /* Kira Whittle */
}

.item:nth-child(1) .quotation {
    display: none !important;
}


@media only screen and (min-width: 48rem) and (max-width:60rem){
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 1.875rem;
    padding: 2rem;
    place-content: center;
  }

.item {
    grid-column: auto;
    grid-row: auto;
  }

.item:nth-child(1) { /* Daniel Clifford */
    grid-column: 1 / span 2;
  }

.item:nth-child(2) { /* Jonathan Walters */
    grid-column: 3;
  }

.item:nth-child(3) { /* Kira Whittle */
    grid-column: 4;
    grid-row: 1 / span 2;
  }

.item:nth-child(4) { /* Jeanette Harmon */
    grid-column: 1;
  }

.item:nth-child(5) { /* Patrick Abrams */
    grid-column: 2 / span 2;
  }

.item:nth-child(1) .quotation {
    display: inline  !important;
    
  }
}

@media only screen and (min-width: 60rem) {
  .item:nth-child(1) .quotation {
    display: block !important;
    width: 5rem;
    height: auto;
  }
}
